.add_player_form{
    border: 2px solid blue;
    padding: 20px;
    border-radius: 20px;
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.add_player_form input{
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}
.add_player_form button{
    background-color: blue;
    color: white;
    width: 200px;
    height: 40px;
}